- body_classes << "reversed"
- body_classes << "users"
- @selected = :users
- @title = 'Users - Radiant CMS - Publishing for Small Teams'

.box.user
  %h3
    .actions
      = link_to "Edit", "/admin/preferences/edit/", :class=>'edit'
      or
      %span.remove.disabled
        Remove
    Sean Cribbs
    %span.login
      admin
  %img.avatar{:src=>gravatar_url('seancribbs@gmail.com', :size=>"64px"), :width=>64, :height=>64, :alt=>""}
  %p.ruled
    %label Roles
    %span Administrator
  %p.ruled
    %label Password
    %big &bull;&bull;&bull;&bull;&bull;
  %p.ruled
    %label Language
    %span Default (English)
  %p.ruled
    %label E-mail
    %span.uri seancribbs@gmail.com

.box.user
  %h3
    .actions
      = link_to "Edit", "/admin/preferences/edit/", :class=>'edit'
      or
      %a.remove{:href=>"/admin/users/remove"}
        Remove
    Jim
    %span.login
      jim
  %img.avatar{:src=>gravatar_url('unknown.user@example.com', :size=>"64px"), :width=>64, :height=>64, :alt=>""}
  %p.ruled
    %label Roles
    %span Administrator, Designer
  %p.ruled
    %label Password
    %big &bull;&bull;&bull;&bull;&bull;
  %p.ruled
    %label Language
    %span Default (English)
  %p.ruled
    %label E-mail
    %span.uri unknown.user@example.com

.box.user
  %h3
    .actions
      = link_to "Edit", "/admin/preferences/edit/", :class=>'edit'
      or
      %a.remove{:href=>"/admin/users/remove"}
        Remove
    Lisa
    %span.login
      lisa
  %img.avatar{:src=>gravatar_url('unknown.user@example.com', :size=>"64px"), :width=>64, :height=>64, :alt=>""}
  %p.ruled
    %label Roles
    %span Designer
  %p.ruled
    %label Password
    %big &bull;&bull;&bull;&bull;&bull;
  %p.ruled
    %label Language
    %span Default (English)
  %p.ruled
    %label E-mail
    %span.uri unknown.user@example.com

.box.user
  %h3
    .actions
      = link_to "Edit", "/admin/preferences/edit/", :class=>'edit'
      or
      %a.remove{:href=>"/admin/users/remove"}
        Remove
    Susan
    %span.login
      susan
  %img.avatar{:src=>gravatar_url('unknown.user@example.com', :size=>"64px"), :width=>64, :height=>64, :alt=>""}
  %p.ruled
    %label Roles
    %span 
  %p.ruled
    %label Password
    %big &bull;&bull;&bull;&bull;&bull;
  %p.ruled
    %label Language
    %span Default (English)
  %p.ruled
    %label E-mail
    %span.uri unknown.user@example.com

#actions
  %ul
    %li
      %a{:href=>"/admin/users/new"} New User